altgraph==0.17
appdirs==1.4.3
attrs==19.3.0
Click==7.0
coverage==5.0.3
filelock==3.0.12
Flask==1.1.1
flask-expects-json==1.4.0
Flask-SQLAlchemy==2.4.1
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
macholib==1.14
more-itertools==8.2.0
passlib==1.7.2
pluggy==0.13.1
py==1.8.1
PyInstaller==3.6
PyJWT==1.7.1
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.3.5
six==1.14.0
SQLAlchemy==1.2.17
virtualenv==20.0.1
wcwidth==0.1.8
Werkzeug==1.0.0
